.sidebar
	position relative
	margin-left ratio-percentage(30,1140)
	width ratio-percentage(150,1140)
	float left
	+below($tablet)
		width auto
		float none
	&__block
		margin-bottom 30px
	&__block_fixed
		position fixed
		top 100px
		width 100%
	&__title
		// border-bottom 1px solid lighten(#141414, 50)
		margin-bottom 20px
		font-family $ar
		font-size 16px
		line-height 28px
		text-transform uppercase
		letter-spacing tracking(150)
