mixin hero()
	// begin hero
	section.hero.section
		.hero__in
			.hero__w
				h1.hero__title Верстка psd, ai, sketch, xd, figma в html
				.hero__text
					p Здравствуйте, я частный вебмастер и я занимаюсь адаптивной html версткой и интеграцией верстки с CMS Wordpress и СМS "1С- Битрикс: Управление сайтом". Пишу чистый код используя методологию БЭМ.<br/>Думаю об отображении в разных браузерах и на разных устройствах. Забочусь о скорости <br/>загрузки и дальнейшем SEO-продвижении.

				a.hero__button.button(href='mailto: gorlov35@gmail.com?subject=Заказать верстку') Заказать верстку

	// end hero
