.social
	font-size 0
	&__item
		margin-left 10px
		display inline-block
		vertical-align middle
		&:first-child
			margin-left 0
	&__link
		display block
		hide-text()
	&__item_youtube
		.social__link
			retinaSprite($youtube_icon_group)
	&__item_vk
		.social__link
			retinaSprite($vk_icon_group)
	&__item_twitter
		.social__link
			retinaSprite($twit_icon_group)
	&__item_inst
		.social__link
			retinaSprite($inst_icon_group)


