mixin list-filter()
	ul.list-filter
		li.list-filter__item
			a.list-filter__link(href="#link") Все работы
		li.list-filter__item
			a.list-filter__link(href="#link") Адаптивная верстка
		li.list-filter__item
			a.list-filter__link(href="#link") Фиксированная верстка
		li.list-filter__item
			a.list-filter__link(href="#link") Интеграция с wordpress
