mixin call-to-action()
	// begin call-to-action
	section.call-to-action.section#section-4
		.call-to-action__in
			h2.call-to-action__title Закажите верстку вашего дизайна
			a.call-to-action__button.button(href="#link") напишите мне

	// end call-to-action
