mixin testimonials()
	// testimonials
	.testimonials
		.testimonials__in
			h2.testimonials__title Отзывы
			ul.testimonials__list
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Митник Кевин (volfing)
					.testimonials__subject Адаптивная верстка макета
					.testimonials__text
						p Отличный исполнитель. Никаких лишних вопросов, все требования были выполнены. Сдал проект вовремя.
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/alena_kaygorodova.jpg", alt="alena_kaygorodova")
					.testimonials__name Алёна Кайгородова
					.testimonials__subject Нужен верстальщик для редактирования лендинга
					.testimonials__text
						p Игорь оперативно и качественно все выполнил. Терпеливо отнесся к моим правкам в тексте и сделал с первого раза именно, как мы и задумывали. Спасибо!
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/vladimir_cool.jpg", alt="Vladimir Cool")
					.testimonials__name Vladimir Cool
					.testimonials__subject Скопировать страницу сайта, внести поправки
					.testimonials__text
						p Доводит работы до идеала
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Алексей Максимов
					.testimonials__subject Вёрстка интернет магазина (под битрикс)
					.testimonials__text
						p Всё сделано качественно и в срок. Замечания учитываются без вопросов, работа выполнена. Спасибо!
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Вадим Цветков
					.testimonials__subject Верстка Спортивного Landing Page
					.testimonials__text
						p Ответственно подходит к делу, качеством работы довольны.
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/elena_popova.jpg", alt="elena_popova")
					.testimonials__name Елена Попова
					.testimonials__subject Поменять и дополнить портфолио на сайте
					.testimonials__text
						p Спасибо большое! Проект выполнен четко и в срок, рекомендую данного исполнителя!
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/anat_zapov.jpg", alt="anat_zapov")
					.testimonials__name Анатолий Запов
					.testimonials__subject Доработка вёрстки (добавление элементов)
					.testimonials__text
						p Аккуратная профессиональная работа с большой долей самостоятельности, и точно в срок. Сотрудничеством полностью доволен.
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Александр Антонов (ArgonXPrime)
					.testimonials__subject Верстка интернет магазина.
					.testimonials__text
						p Шикарная работа! Исполнитель все сделал на высоком уровне! Плюс Игорь помог разобраться в интерфейсе некоторых сервисов, с которыми я до этого не работал (сделал пару пояснительных видео). Плюсы: четкое следование Т.З. без сюрпризов и самодеятельности. В итоге то, что было на проектных файлах воплощено в жизнь на все 100%. Минусы: Некритическое для моего проекта отклонение от сроков. Итог: я не рекомендую, я настаиваю работать с Игорем.
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/web_geeks.jpg", alt="web_geeks")
					.testimonials__name ООО «Веб Гикс»
					.testimonials__subject Требуется сверставть Хедер и футер на Wordpress. HTML версия сайта прилагается.
					.testimonials__text
						p Отличный специалист. Делает все быстро и качественно
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Дмитрий Маковей (traylers)

					.testimonials__subject Сладейр отзывов.
					.testimonials__text
						p Все сделано быстро и качественно, помог с интеграцией в существующий проект.
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/mitnik.jpg", alt="mitnik")
					.testimonials__name Денис Брежицкий (brezhitskiy42)

					.testimonials__subject Верстка небольшого сайта
					.testimonials__text
						p Идеальный исполнитель. Все сделано качественно и быстро. Рекомендую!
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/taisia-eho.jpg", alt="taisia-eho")
					.testimonials__name Таисия Эхо (Basharinn)

					.testimonials__subject Вёрстка макетов интернет-магазина
					.testimonials__text
						p Заказывали у Игоря вёрстку для интернет-магазина. Полностью уложился в озвученные сроки и бюджет. Качество отличное, работа выполнена прекрасно. Даже мелочи, забытые дизайнером, были поправлены. Надеемся на дальнейшее сотрудничество :)
				li.testimonials__item
					.testimonials__avatar
						img.testimonials__img(src="assets/images/content/pervakov.jpg", alt="pervakov")
					.testimonials__name Максим Перваков (pervakov)

					.testimonials__subject Верстка сайта
					.testimonials__text
						p Отличная работа! Быстро и качественно!


	// end testimonials
