mixin footer()
	// begin footer
	footer.footer
		.footer__in
			.footer__row
				//- .footer__logo.logo.logo_dark(href="#logo") Webjeb
				//- nav.footer__nav.nav.nav_dark

				//- 	label.nav__button(for="nav-button")
				//- 		+icon('menu-icon-8', true).nav__icon

				//- 	input.nav__trigger(type="checkbox", id="nav-button")

				//- 	ul.nav__list
				//- 		li.nav__item
				//- 			a.nav__link(href="#link") Портфолио
				//- 		li.nav__item
				//- 			a.nav__link(href="#link") Блог

				ul.footer__social.social
					li.social__item.social__item_youtube
						a.social__link(href="#link") Youtube
					li.social__item.social__item_vk
						a.social__link(href="#link") Vk
					li.social__item.social__item_twitter
						a.social__link(href="#link") Twitter
					li.social__item.social__item_inst
						a.social__link(href="#link") Instagram

			.footer__copyright <span>©</span> 2017 'Webjeb'
	// end footer
