.side-nav
	display block
	font-family $ar
	font-size 14px
	line-height 26px
	text-align left
	&__item
		margin-bottom 15px
	a
		position relative
		border-bottom 1px solid lighten(#01579b, 60)
		font-family $ar
		font-size 14px
		text-transform uppercase

		color #01579b
		// letter-spacing tracking(150)
		@extends .transition
		&:hover
			border-bottom 1px solid transparent
