mixin side-nav()
	nav.side-nav.sidebar__block
		.sidebar__title Категории
		ul.side-nav__list
			li.side-nav__item
				a.side-nav__link(href="#link") Html верстка
			li.side-nav__item
				a.side-nav__link(href="#link") Cms Wordpress
			li.side-nav__item
				a.side-nav__link(href="#link") СМS "1С- Битрикс: Управление сайтом"

