mixin breadcrumbs()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
				|  /
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Портфолио



mixin breadcrumbs-blog()
	.breadcrumbs
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Главная
				|  /
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Блог
