mixin services()
	// begin services
	section.services.section#section-1
		.services__in
			h2.services__title Услуги
			ul.services__list
				li.services__item.services__item_1
					+icon('resp-icon', true).services__item-icon.services__item-icon_1
					h3.services__item-title Адаптивная верстка
					.services__item-text Делаю вертку адаптирующуюся под телефон, планшет или десктоп
				li.services__item.services__item_2
					+icon('fix-icon', true).services__item-icon.services__item-icon_2
					h3.services__item-title Фиксированная верстка
					.services__item-text Делаю вертку имеющую фиксированный размер
				li.services__item.services__item_3
					+icon('temp-icon', true).services__item-icon.services__item-icon_3
					h3.services__item-title Интеграция верстки в wordpress, битрикс
					.services__item-text Интегрирую сверстанный дизайн в cms wordpress или битрикс
				li.services__item.services__item_4
					+icon('temp-icon', true).services__item-icon.services__item-icon_3
					h3.services__item-title Доработка верстки
					.services__item-text Дорабатываю не доделанную верстку

	// end services
