mixin how()
	// begin how
	section.how.section#section-2
		.how__in
			h2.how__title Как я работаю
			ul.how__list
				li.how__item(data-number="1")
					h3.how__item-title Как верстаю
					.how__text
						p Кроссбраузерно, валидно, используя методологию БЭМ. В зависимости от требований делаю фиксированную, резиновую или адаптивную вёрстку
				li.how__item(data-number="2")
					h3.how__item-title Используемые технологии
					.how__text
						p Html5, Css3, jQuery, Gulp, Pug, Jade, Stylus, Sass, Svg. Использую БЭМ
				li.how__item(data-number="3")
					h3.how__item-title Как пойдёт работа
					.how__text
						p После согласования говорю точную цену, получаю предоплату и выполняю работу

	// end how

