@font-face {
	font-family: 'AvenirNextCyr-Bold';
	src: url('../fonts/av/hinted-subset-AvenirNextCyr-Bold.woff2') format('woff2'),
		url('../fonts/av/hinted-subset-AvenirNextCyr-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Medium';
	src: url('../fonts/av/hinted-subset-AvenirNextCyr-Medium.woff2') format('woff2'),
		url('../fonts/av/hinted-subset-AvenirNextCyr-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Regular';
	src: url('../fonts/av/hinted-subset-AvenirNextCyr-Regular.woff2') format('woff2'),
		url('../fonts/av/hinted-subset-AvenirNextCyr-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Light';
	src: url('../fonts/av/hinted-subset-AvenirNextCyr-Light.woff2') format('woff2'),
		url('../fonts/av/hinted-subset-AvenirNextCyr-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNextCyr-Thin';
	src: url('../fonts/av/hinted-subset-AvenirNextCyr-Thin.woff2') format('woff2'),
		url('../fonts/av/hinted-subset-AvenirNextCyr-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}



$at = 'AvenirNextCyr-Thin' , arial, sans-serif
$al = 'AvenirNextCyr-Light' , arial, sans-serif
$ar = 'AvenirNextCyr-Regular', arial, sans-serif
$am = 'AvenirNextCyr-Medium' , arial, sans-serif
$ab = 'AvenirNextCyr-Bold', arial, sans-serif




