mixin article-tile()
	.article
		h2.article__title
			a.article__link(href='#link') Невероятный график функции — актуальная национальная задача
		.article__img

		.article__text
			p К тому же замкнутое множество соответствует тройной интеграл. Аксиома обуславливает экспериментальный предел последовательности, что несомненно приведет нас к истине. Функциональный анализ нетривиален.

			p Относительная погрешность, как следует из вышесказанного, положительна. Дифференциальное исчисление синхронизирует невероятный интеграл по бесконечной области. Критерий сходимости Коши в принципе масштабирует лист Мёбиуса. Точка перегиба упорядочивает метод последовательных приближений.
